<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil Mini Boutique</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Bienvenue sur la Mini Boutique !</h1>
  <a href="/products">Voir les produits</a>
</body>
</html>